  {% extends 'base.html.twig' %} 
{% block body %}

    <header>
          <img  class="center-block logo" src="{{render(controller('AppBundle:Index:image',
                                                           {'entite' : episode.season.serie ,'type':'logo','format':'full'}
                                                               ))
                                                       }}" alt="">      
   </header>
    
    <div class="container main">
      <div class="row">
         <div class="col-md-6">
           <img class="screenshot" src="{{render(controller('AppBundle:Index:image',{'entite' : episode ,'type':'screenshot','format':'medium'}))}}" alt="">
         </div>
         <div class="col-md-6">
           <div>
           <h1> {{ episode.title}}</h1>
           {{ episode.summary}}
         </div>
           <div class="">
           Note : {{ episode.rating}}
         </div>
         </div>
      </div>
      
        </div>
      </div>  
    </div><!-- /.container -->
{% endblock %}