{% extends 'base.html.twig' %} 
{% block body %}

<header>
    <img  class="banner" src="{{render(controller('AppBundle:Serie:image',
    {'serie' : serie ,'type':'banner','format':'full'}
    ))
  }}" alt="">
  <div class="info-wrapper">
    <p> <b>Annee</b> : {{ serie.year }} | <b>Network</b> : {{ serie.network }} | <b>Note</b> : {{ serie.rating | round(2)  }} </p>
  </div>   
</header>
    
<div class="container main">
    <h1>{{ serie.title}}</h1>  
  <div class="row">
    <span class="col-md-9"><p> {{ serie.summary }}</p></span>
    <div class="col-md-3 panel mabox panel-success">
      <div class="panel-body ">
        <p>Statut : {{ serie.status|trans }} </p>
        <p>Diffusion : {{ serie.airDay|trans }} {{serie.airTime}}</p>
        <p>Durée : {{ serie.runtime }} minutes</p>
      </div>
    </div>
  </div>
   <h2>Saisons ({{ serie.seasons|length }})</h2>
  <section class="row">
    {% for season in serie.seasons %}
      <article class="col-lg-2">
        <a href="{{ path('season', {'slug': serie.slug, 'number': season.number }) }}">
          <img class="thumbnail season" src="{{render(controller('AppBundle:Index:image',
          {'entite' : season ,'type':'poster','format':'thumb'}
          )) }}" alt="Saison {{ season.number }}">
        </a>
      </article>
    {% endfor %}
  </section>
   <h2>Acteurs</h2>
  <section class="row">
    {% for person in serie.people %}
      <article class="col-lg-1">
          <img class="thumbnail actor" src="{{render(controller('AppBundle:Index:image',
          {'entite' : person.actor ,'type':'headshot','format':'thumb'}
          )) }}" alt="{{ person.name}}" title="{{ person.name}}">
        </a>
        <h6>{{ person.actor.name }}
      </article>
    {% endfor %}
  </section>  
</div>  
<!-- FOOTER -->
<footer>
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </div>
</footer>

</div><!-- /.container -->
{% endblock %}